<div class="outside">
  <h1>This is a fun game</h1>
  <div class="inside">
      <% @letters.each do |letter| %>
        <h3 class=letters> <%= letter %> </h3>
      <%end %>
  </div>
  <div class="inside-form">
    What is the longest word you can find?
    <form action="/score" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="text" name="word" placeholder="Longest Word">
      <input type="submit" name="play">
    </form>
  </div>
</div>

